html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.stuff-list {
	margin: 0;
	margin-top: 5%;
	position: relative;
}
.stuff-pics {
	width: 94%;
	margin: 0 3%;
}
.stuff-list .left-arrow {
	width: 10%;
	height: auto;
	left: 2%;
	top: 40%;
	position: absolute;
	display: none;
}
.stuff-list .right-arrow {
	width: 10%;
	height: auto;
	right: 2%;
	top: 40%;
	position: absolute;
	display: none;
}
.stuff-list .left-arrow img, .stuff-list .right-arrow img {
	width: 100%;
	position: absolute;
	border: 1px solid;
	border-radius: 50%;
	background: #ffffff;
}
	/*
.stuff-list .left-arrow:hover {
	-ms-transform: scale(2, 1);
	-webkit-transform: scale(2, 1);
	transform: scale(2, 1);
	left: 2.5%;
}
.stuff-list .right-arrow:hover{
	-ms-transform: scale(2, 1);
	-webkit-transform: scale(2, 1);
	transform: scale(2, 1);
	right: 2.5%;
}*/
.stuff{
	margin: 0;
	margin-right: 5%;
	width: 30%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	transform: translate(-100%);
	transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
	-ms-transform: translate(-100%);
	-ms-transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
	-webkit-transform: translate(-100%);
	-webkit-transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
}
.stuff-img h5 {
	width: 70%;
	margin: 0;
	margin-left: 15%;
	margin-right: 15%;
	position: absolute;
	top: 30%;
	left: 0;
	text-align: center;
	font-size: 80%;
	transform: translate(-170%);
	transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
	-ms-transform: translate(-170%);
	-ms-transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
	-webkit-transform: translate(-170%);
	-webkit-transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
	color: white;
}
@media (min-width: 767px) {
	.stuff:hover .stuff-img h5{
		transform: translate(0%);
		-ms-transform: translate(0%);
		-webkit-transform: translate(0%);
	}
	.stuff:hover .overlay {
		background: rgba(33, 28, 28, 0.8);
		transform: translate(0%);
		-ms-transform: translate(0%);
		-webkit-transform: translate(0%);
	}
	.stuff-pics .left-arrow, .stuff-pics .right-arrow {
		display: none;
	}
}
.stuff-name {
	width: 90%;
	margin: auto;
	text-align: center;
	
}
.overlay {
	height: inherit;
	width: inherit;
	position: absolute;
	border-radius: 50%;
	transform: translate(-170%);
	transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
	-ms-transform: translate(-170%);
	-ms-transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
	-webkit-transform: translate(-170%);
	-webkit-transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
}
.stuff-3 {
	margin-right: 0;
	float: right;
}
.stuff-img {
	width: 200px;
	height: 200px;
	max-width: 100%;
	border-radius: 50%;
	margin: auto;
}
 .stuff-img img{
	width: 100%;
	height: 100%;
	max-width: 100%;
	border-radius: 50%;
	margin: auto;
}
.stuff-list:after {
	content: "";
	clear: both;
	display: block;
}
.stuff-pics:after {
	content: "";
	clear: both;
	display: block;
}

.banner {
	height: 80%;
	width: auto;
	background: url("asset/banner-1.jpg") no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}
.title {
	height: 100px;
	width: 100%;
	margin-top: -100px;
	top: 50%;
	position: absolute;
	background: url("asset/bus.png")no-repeat;
	background-position: center;
	
	
}
.logo {
	height: 100px;
	width: 90%;
	top: 0;
	background-position: left;
	background: url("asset/elephant.png") no-repeat;
	margin-left: 8px;
	position: absolute;
	
	
}

.info {
	width: 80%;
	margin: 5% 10%;
	padding: 0;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}
.info h1 {
	font-size: 150%;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
	font-family: 'Montserrat', sans-serif;
}
.info-1, .info-2 {
	width: 100%;
	margin-bottom: 5%;
}
.info-1:after, .info-2:after {
	display: block;
	content: "";
	clear: both;
}
.info-1, .info-2 {
	transition: all 0.3s cubic-bezier(0, -0.18, 0.58, 0);
}
.info-2 {
	margin-left: 100%;
}
.info-1 {
	margin-left: -100%;
}
.content-1 {
	margin-right: 2%;
	float: left;
	width: 35%;
}
.content-1-img {
	float: right;
	width: 63%;
	margin: 0;
	border-radius: 50%;
}
.content-1-img img{
	width: 100%;
	height: auto;
	margin: 0;
	
}
.content-2-img img {
	width: 100%;
	height: auto;
	margin: 0;
}
.content-2 {
	float: right;
	width: 35%;
	margin-left: 2%;
	margin-right: 0;
}
.content-2-img {
	float: left;
	width: 63%;
	margin-right: -10%;
}

.content h1 {
	font-size: 110%;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
}
.content p {
	text-align: justify;
}

.bg {
	height: 80%;
	width: 100%;
	background: url("asset/banner-1.jpg")no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	
}
.bg p {
	width: 90%;
	padding: 5%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.47);
}

.footer {
	height: 800px;
	background-color: #000000;
}
.slider-section {
	width: 100%;
	position: relative;
}
.slider-section:after {
	clear:both;
	content: '';
	display: block;
}
.slider {
	width: 90%;
	margin: 5%;
	overflow: hidden;
}
.slide-img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	
}
.slider .slide {
	display: none;
	position: relative;
}
.slide p {
	position: absolute;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	-webkit-transform: translate(50%, 50%);
}
.slider .active {
	display: block;
}
.slider-section .left-arrow {
	width: 3%;
	height: 3%;
	left: 1%;
	top: 50%;
	position: absolute;
	display: none;
}
.slider-section .right-arrow {
	width: 3%;
	height: 3%;
	right: 1%;
	top: 50%;
	position: absolute;
}
.slider-section .left-arrow:hover {
	-ms-transform: scale(2, 1); /* IE 9 */
    -webkit-transform: scale(2, 1); /* Safari */
    transform: scale(2, 1);
	left: 2.5%;
}
.slider-section .right-arrow:hover{
	-ms-transform: scale(2, 1); /* IE 9 */
    -webkit-transform: scale(2, 1); /* Safari */
    transform: scale(2, 1);
	right: 2.5%;
}
.slider-section .left-arrow img, .right-arrow img {
	width: 100%;
	position: absolute;
	border: 1px solid;
	border-radius: 20%;
	background: #ffffff;
}
@media (max-width: 767px) {
	.info {
		font-size: 90%;
		width: 90%;
		margin: 5%;
	}
	.info h1 {
		font-size: 200%;
	}
	.content h1 {
		font-size: 120%;
		text-align: center;
	}
	.content-1, .content-2 {
		float: none;
		width: 100%;
		margin: 0;
		margin-bottom: 10%;
	}
	.content-1-img, .content-2-img {
		width: 100%;
	}
	.stuff {
		width: 100%;
	}
	.stuff-img  h5{
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
	.stuff-list .right-arrow {
		display: block;
	}
	.stuff {
		display: none;
	}
	.stuff-pics .active {
		display: block;
	}
}
