html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans Light', sans-serif;
}
.wrapper {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
header {
	width: 100%;
	height: 100%;
	min-height: 590px;
	margin: 0;
	padding: 0;
	background: url("assets/header-background.png")50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-background h2 {
	text-align: center;
	margin: 0% 10%;
	padding: 0;
	
	color: #f2e5b3;
}
.header-background {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
}

.logo {
	display: inline-block;
	margin: 1%;
	float: left;
}
.logo a {
	display: block;
}
.logo a img {
	height: 100%;
}
.buttons {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 120%;
	text-align: center;
	margin:0 ;
	margin-bottom: 3%;
	margin-top: 3%;
}
.button {
	display: inline-block;
	margin: 2% 5%;
	border-radius: 50px;
	padding: 20px;
	color: #000000;
	text-decoration: none;
}
#menu .action {
	text-align: center;
}
#menu .button {
	background: #c69c6d;
	padding: 10px 20px;
	width: 30%;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
}
.buttons .reservation{
	background: #f2e5b3;
}
.buttons .menu {
	background: #c69c6d;
	margin-left: 0;
}
.links li{
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 120%;
}
.links a {
	text-decoration: none;
	color: #f2e5b3;
}
.menu-links {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
	color: #ffffff;
}
.header-background h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: 'Dancing Script', cursive;
}
section h1 {
	margin: 0;
	margin-bottom: 3%;
	text-align: center;
}
section h2 {
	margin: 0;
	margin-bottom: 5%;
	text-align: center;
}
section {
	margin: 5% 0% 0% 0%;
}
#about .about-image {
	margin: 0;
	display: inline-block;
}
#about .about-image img {
	width: 100%;
	height: auto;
}
#about .content {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
#about .content p {
	text-align: justify;
	margin: 0;
}
#menu .dish-types {
	width: 100%;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}
.dish-types .dish-type {
	display: inline-block;
	text-decoration: none;
	border-radius: 50px;
	padding: 10px;
	background: #f2e5b3;
	margin-right: 20px;
	font-size: 120%;
	margin-bottom:10px;
}
.dish-types-select {
	display: none;
}
.dish-types .dish-type a {
	text-decoration: none;
	color: #000000;
}
.dish-type:first-child {
	background: #c69c6d;
	margin-left: 0;
}
.dish-type:last-child {
	margin-right: 0;
}
.dishes-list {
	margin: 5% 0;
	padding: 0;
}
.dishes-list .dish{
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	width: 100%;
	display: inline-block;
	text-align: center;
}

#reservation{
	margin-right: -12.5%;
	margin-left: -13%;
	
	background: url("assets/reservation-banner.png") 50% 50%;
	background-size: cover;
}
#reservation form {
	background: rgba(0, 0, 0, 0.8);
	margin: 0 10%;
	width: 50%;
}
#reservation form h1 {
	color: #ffffff;
	padding: 10px;
}
form input {
	display: inline-block;
	width: 45%;
	background: #ffffff;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0;
	margin-left: 2.5%;
	margin-bottom: 2%;
	border-radius: 40px;
	border: none;
	color: #000000;
	font-size: 120%;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    font-style: italic;
}
#reservation textarea {
	width: 95%;
	margin: 2% 2.5%;
	margin-top: 0;
	margin-bottom: 5%;
	padding: 10px 20px;
	box-sizing: border-box;
	background: #ffffff;
	resize: none;
	border-radius: 30px;
	border: none;
	color: #000000;
	font-size: 150%;
}

form button {
	background: #c69c6d;
	border: none;
	margin: 0% 0% 5% 0%!important;
}
.action-button {
	text-align: center;
}
@media(min-width: 769px) {
	.header-background h1 {
		padding-top: 15%;
	}
	.header-background h2 {
		font-size: 200%;
	}
	.toggle {
		display: none;
	}	
	.menu-links {
		color: #ffffff;
		background: none;
	}
	header ul {
		float: right;
	}
	.links li{
		padding-right: 10px;
		font-size: 120%;
	}
	.header-background h1 {
		font-size: 1000%;
	}
	.buttons .button {
		width: 30%;
	}
	.logo a{
		height: 30px;
	}
	section h1 {
		font-size: 300%;
	}
	section h2 {
		font-size: 150%;
	}
	
	
	#about .about-image {
		width: 55%;
		margin-right: 4%;
	}
	#about .content {
		width: 40%;
	}
	#about .content p {
		font-size: 100%;
	}
	
	.dishes-list {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
		//width: 90%;
		margin: 2% auto;
	}
	#reservation h1 {
		font-size: 250%
	}
	#reservation form button {
		font-size: 120%;
	}
}
@media(max-width: 768px) {
	.header-background h1 {
		padding-top: 15%;
	}
	.logo {
		float: none;
		margin: 1% 2%;
	}
	.logo a img {
		height: 30px;
		width: auto;
	}
	.toggle {
		display: inline-block;
		margin: 1% 2%;
		float: right;
		height: 30px;
		width: 30px;
	}
	.toggle img {
		height: 100%;
	}
	.links {
		display: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.links .link {
		width: 100%;
		margin: 0;
		padding: 10px;
	}
	.menu-links {
		background: rgba(0, 0, 0, 0.8);
	}
	.header-background h1 {
		font-size: 800%;
	}
	.buttons .button {
		width: 50%;
		font-size: 100%;
		margin-left: 5%;
		width: 40%;
	}
	
	section h1 {
		font-size: 300%;
	}
	section h2 {
		font-size: 120%;
		margin-bottom: 2%;
	}
	
	
	#about .about-image {
		width: 100%;
		margin-bottom: 3%;
	}
	#about .content {
		width: 100%;
	}
	#about .content p {
		font-size: 100%;
	}
	
	.dishes-list {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		//width: 90%;
		margin: 2% auto;
	}
	.dishes-list .dish {
		margin: 0;
	}
	#reservation form{
		width: 80%;
	}
	#reservation h1 {
		font-size: 200%
	}
	#reservation form button {
		font-size: 120%;
	}
}
@media (max-width: 425px) {
	.header-background h1 {
		font-size: 500%;
		padding-top: 30%;
		padding-bottom: 5%;
	}
	.header-background h2 {
		font-size: 120%;
	}
	.buttons {
		font-size: 90%;
	}
	.buttons .button {
		width: 50%;
	}
	#menu .dish-types {
		display: none;
	}
	
	.dish-types-select {
		display: block;
		width: 100%;
		padding: 10px;
		background: #c69c6d;
	}
	.dish-types-select option {
		background: #f2e5b3;
	}
	.dishes-list {
		column-width: 100%;
		column-count: auto;
		-webkit-column-gap: 0; /* Chrome, Safari, Opera */
		-moz-column-gap: 0; /* Firefox */
		column-gap: 0;
	}
	.dishes-list .dish {
		width: 100%;
	}
	.dishes-list .dish img {
		width: 100%;
	}
	#menu .button {
		width: 80%;
		padding-right: 5%;
		padding-left: 5%;
		float: none;
		margin-right: 0;
		margin-left: 0;
	}
	
	#reservation h1 {
		font-size: 120%;
	}
	#reservation form input {
		width: 95%;
		margin-bottom: 2%;
	}
	#reservation form button {
		font-size: 120%;
	}
}
@media (max-width: 320px) {
	.header-background h1 {
		font-size: 200%;
		padding-top: 50%;
	}
	.header-background h2 {
		font-size: 100%;
		margin: 5%;
	}
	.buttons .button {
		font-size: 80%;
		padding: 10px;
		width: 70%;
	}
	.toggle {
		height: 20px;
	}
	.logo a img{
		height: 20px;
	}
	#reservation form input {
		font-size: 100%;
	}
	#reservation form textarea {
		font-size: 120%;
	}
	#reservation form button {
		font-size: 80%;
	}
}